<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col ><h2>Películas nuevas</h2></ion-col>
  </ion-row>
</ion-grid>

<app-slider-pelis-backdrop [peliculas]="peliculasRecientes"></app-slider-pelis-backdrop>
<ion-grid fixed>
  <ion-row>
    <ion-col><h2>Cartelera</h2></ion-col>
  </ion-row>
</ion-grid>


<app-slider-poster [peliculas]="pelisCartelera"></app-slider-poster>
<ion-grid fixed>
  <ion-row>
    <ion-col><h2>Populares</h2></ion-col>
  </ion-row>
</ion-grid>

<app-slider-poster [peliculas]="peliculasPopulares" [cargarMas] ="true" (cargarData)="cargarPopulares()"></app-slider-poster>

</ion-content>
